@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1,900&display=intercambio');



body{
    font-family: "Roboto", sans-serif;
    background-color: black;
}

/* Navbar*/
.navbar-brand{
    font-weight: 400 !important;
    font-size: 0.975rem;
}

.navbar.scrolled{
    background-color: #0FA8DC
    !important ;
}

.imagenNav{
    width: 1.559rem;
}

/*Footer*/
.estiloUl{
    list-style: none;
    padding: 0.01px;
}

.bg-infoCustom{
    background-color: #0FA8DC;
}